body
{
    font-family: 'Rock Salt', cursive;
    background-color: lightblue;
    align-content: center;
    width: 60%;
    margin: 0 auto;
}

h1{
    color: red;
}

.shakespeareList{
    float: right;
}

